{% extends 'app/base.html' %} {% block contenido %} {% load static %}
<div class="slider">
    <div>
        <img src="{% static 'app/img/banner/cripto_banner1.png' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/cripto_banner2.png' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/cripto_banner3.png' %}" alt="">
    </div>
</div>

<h2>Productos</h2>

<div class="productos">

    <div class="producto">

        <div class="contenedor_producto">

            <img src="{% static 'app/img/Bitc.jpg' %}" alt="imagen producto">
            <div class="detalle">
                <h5>Cripto</h5>
                <h2>Bitcoin</h2>
                <h3>$120.000</h3>
            </div>
            <a href="{% url 'commercialize' %}">
                <button style="float: right; font-size: 20px;" class="button">Comercializar</button>
            </a>
        </div>

    </div>

    <div class="producto">

        <div class="contenedor_producto">

            <img src="{% static 'app/img/Dash.jpg' %}" alt="imagen producto">
            <div class="detalle">
                <h5>Cripto</h5>
                <h2>Dash</h2>
                <h3>$1.500.000</h3>
            </div>
            <a href="{% url 'commercialize' %}">
                <button style="float: right; font-size: 20px;" class="button">Comercializar</button>
            </a>
        </div>

    </div>

    <div class="producto">

        <div class="contenedor_producto">

            <img src="{% static 'app/img/neo-2.png' %}" alt="imagen producto">
            <div class="detalle">
                <h5>Cripto</h5>
                <h2>Neo</h2>
                <h3>$2.000.000</h3>
            </div>
            <a href="{% url 'commercialize' %}">
                <button style="float: right; font-size: 20px;" class="button">Comercializar</button>
            </a>
        </div>

    </div>

    <div class="producto">

        <div class="contenedor_producto">

            <img src="{% static 'app/img/XRP.jpg' %}" alt="imagen producto">
            <div class="detalle">
                <h5>Cripto</h5>
                <h2>XRP</h2>
                <h3>$400.000</h3>
            </div>
            <a href="{% url 'commercialize' %}">
                <button style="float: right; font-size: 20px;" class="button">Comercializar</button>
            </a>
        </div>

    </div>

    <div class="producto">

        <div class="contenedor_producto">

            <img src="{% static 'app/img/neo-2.png' %}" alt="imagen producto">
            <div class="detalle">
                <h5>Cripto</h5>
                <h2>Neo</h2>
                <h3>$200.000</h3>
            </div>
            <a href="{% url 'commercialize' %}">
                <button style="float: right; font-size: 20px;" class="button">Comercializar</button>
            </a>
        </div>

    </div>


    <div class="producto">

        <div class="contenedor_producto">

            <img src="{% static 'app/img/XRP.jpg' %}" alt="imagen producto">
            <div class="detalle">
                <h5>Cripto</h5>
                <h2>XRP</h2>
                <h3>$400.000</h3>
            </div>
            <a href="{% url 'commercialize' %}">
                <button style="float: right; font-size: 20px;" class="button">Comercializar</button>
            </a>
        </div>

    </div>

    <div class="producto">

        <div class="contenedor_producto">

            <img src="{% static 'app/img/Dash.jpg' %}" alt="imagen producto">
            <div class="detalle">
                <h5>Cripto</h5>
                <h2>Dash</h2>
                <h3>$1.500.000</h3>
            </div>
            <a href="{% url 'commercialize' %}">
                <button style="float: right;font-size: 20px" class="button">Comercializar</button>
            </a>
        </div>

    </div>

    <div class="producto">

        <div class="contenedor_producto">

            <img src="{% static 'app/img/Bitc.jpg' %}" alt="imagen producto">
            <div class="detalle">
                <h5>Cripto</h5>
                <h2>Bitcoin</h2>
                <h3>$120.000</h3>
            </div>
            <a href="{% url 'commercialize' %}">
                <button style="float: right; font-size: 20px;" class="button">Comercializar</button>
            </a>
        </div>

    </div>


</div>
<br><br> {% endblock %}